<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Propgod Candidate's Detail</title>

    <link rel="stylesheet" href="../css/style.css">

    <script src="../vendor/angular/angular.min.js"></script>


    <script src="../js/controller.js"></script>

</head>

<body ng-controller="MainContrller">
    <div class="mainPageContainer" ng-show="isMainPage">
        <h1> Welcome to Candidate Detail Portal</h1>
        <div>
            <div class="SearchBar">
                Search By
                <select name="SearchBy" ng-model="orderCandidateList">
                    <option value="id" selected>id</option>
                    <option value="email">email</option>
                    <option value="mobileNumber">mobile</option>
                    <option value="firstName">firstname</option>
                    <option value="lastName">lastname</option>
                </select>

                <input type="text" placeholder="Search" ng-model="query">
                <button id="Enter" type="button">Enter</button>
            </div>
            <div class="Add">
                <!-- Add new Candidate: -->
                <button type="button" id="addCandidateButton" ng-click="showAddForm()">Add Candidate</button>
            </div>
        </div>
        <br>

        <div class="MainContainer">
            <h2>Candidate List</h2>
            <table>
                <caption>Candidate Detail</caption>
                <thead>
                    <tr>
                        <th> User Id</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>More Details</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="candidateList in candidateDetailList">
                        <td>{{candidateList.userId}}</td>
                        <td>{{candidateList.email}}</td>
                        <td>{{candidateList.mobileNumber}}</td>
                        <td>{{candidateList.firstName}}</td>
                        <td>{{candidateList.lastName}}</td>
                        <td><a href="" class="moreDetails" ng-click="showDetails(candidateList)">Click Here</td>
               <td class="deleteList" ng-click="deleteCandidate(candidateList)"><img src="../assets/images/101467.svg" alt="del"></td>
             </tr>
          </tbody>
         </table>
        
      </div>
  </div>

  <div class="addCandidate" ng-show="isAddPage">
    <h1>Enter your Details</h1>
    <form id="candidateForm" method="POST">
      <span class="labelContainer">User Id:</span><input ng-model="candidateData.userId" type="text" name="UserID"><br/>
      <span class="labelContainer">Email:</span><input ng-model="candidateData.email" type="email" id="email">
      <span class="labelContainer">Mobile:</span><input ng-model="candidateData.mobileNumber" type="number"/><br/>
      <span class="labelContainer">Password:</span><input ng-model="candidateData.password" type="password" maxlength="10"><br/>
      <span class="labelContainer">First name:</span><input ng-model="candidateData.firstName" type="text" name="FirstName" id="fname">
      <span class="labelContainer">Last Name:</span><input ng-model="candidateData.lastName" type="text" name="LastName"><br/>
      <span class="labelContainer">Address:</span><br/>
      <ul class="addressContainer">
        <li>block_number:<input ng-model="candidateData.blockNumber" type="text" name="B_no"></li>
        <li>street_name:<input ng-model="candidateData.streetName" type="text" name="Street_no"></li>
        <li>postal_code:<input ng-model="candidateData.postalCode" type="number" name="postalCode"></li>
        <li>city:<input ng-model="candidateData.City" type="text" name="city"></li>
        <li>state:<input ng-model="candidateData.State" type="text" name="state"></li>
        <li>country:<input ng-model="candidateData.Country" type="text" name="country"></li>
     </ul><br/>
      <span class="labelContainer">Apartment Details:</span><br/>
      <ul class="apartmentContainer">
        <li>Monthly Rental:<input ng-model="candidateData.MonthlyRental" type="number" name="price"></li>
        <li>No of Rooms:<input ng-model="candidateData.NumRooms" type="number" name="num_rooms"></li>
        <li>No of Bathrooms:<input ng-model="candidateData.NumBathrooms" type="number" name="num_bathrooms"></li>
        <li>Area:<input ng-model="candidateData.ApartmentArea" type="number" name="area_sqft"></li>
      </ul>
      <input type="submit" ng-hide="isUpdate" id="submitFrm" value="Submit" ng-click="submitForm(candidateData)">
      <input type="submit" ng-show="isUpdate" id="submitFrm" value="Update" ng-click="updateForm(candidateData)">
      <input type="button" id="cancelButton" value="Cancel" ng-click="goMainPage()">
      <!-- <button id="cancelButton" ng-click="goMainPage()"><b>Cancel</b></button> -->
    </form>
  </div>

  <div class="additionalDetails" ng-show="isDetailPage">
    <h1>Candidate Detail</h1>
    <div>
    <ul>
      <li>ID:{{userDetail.userId}}</li>
      <li>First Name:  {{userDetail.firstName}}</li>
      <li>Last Name:  {{userDetail.lastName }}</li>
      <li>email:  {{userDetail.email}}</li>
      <li>Mobile:  {{userDetail.mobileNumber}}</li>
      <li>Address:
         <ul>
          <li>Block Number:  {{userDetail.blockNumber}}</li>
          <li>Street Name:  {{userDetail.streetName}}</li>
          <li>City:  {{userDetail.City}}</li>
          <li>State:  {{userDetail.State}}</li>
          <li>Country:  {{userDetail.Country}}</li>
          <li>Postal Code::  {{userDetail.postalCode}}</li>          
         </ul>
      </li>   
      <li>Apartment Details:</li>
         <ul>
           <li>Monthly Rental:  {{userDetail.MonthlyRental}}</li>
           <li>No of Rooms:  {{userDetail.NumRooms}}</li>
           <li>No of Bathrooms:  {{userDetail.NumBathrooms}}</li>
           <li>Area:  {{userDetail.ApartmentArea}}</li>
         </ul>
      </li>
    </ul>
    </div>

    <button type="button" id="backButton" value="Back" ng-click = "goMainPage()">Back</button>
    <button type="button" id="editDetail" value="Edit" ng-click="showFormPage()">Edit</button>
    
  </div>

    
</body>
</html>