
body{
	background-color: rgb(216, 211, 211);
	height: 100%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0;
	}
.mainPageContainer{
	background-color: rgb(189, 197, 200);
	}
.mainPageContainer h1{
     text-align: center;
  padding-top: 11px;
  margin-bottom: 14px;
  margin-top: 0;
  border-bottom: 4px solid rgb(115, 79, 79);
  padding-bottom: 7px;
  color: rgb(105, 70, 70);
}
h1{
	text-align: center;
}
#Enter{
  text-align: center;
    height: 22px;
    width: 81px;
    margin-top: 9px;
  /*margin-left: 139px;*/
}
.SearchBar{
	margin-top: 0px;
	margin-left: 26px;
	margin-right: 150px;
	float: left;
}
.Add{
	margin-top: 17px;
	    float: right;
    margin-right: 37px;

}
.MainContainer h2{
	margin-top: 50px;
	text-align: center;
}
.MainContainer table{
	width:100%;
	border-collapse: collapse;
	border: 1px solid black;
}
.MainContainer th,td{

    height: 30px;
	border: 1px solid black;
	text-align: center;
}
.addCandidate{
	height: 100%;
	margin-left: 20%
	margin-right:20%;
	background-color: rgb(189, 197, 200);
}
.addCandidate h1{
	  text-align: center;
  padding-top: 11px;
  margin-bottom: 14px;
  margin-top: 0;
  border-bottom: 4px solid rgb(115, 79, 79);
  padding-bottom: 7px;
  color: rgb(105, 70, 70);
}
form{
	padding: 20px;
}
.addCandidate input{
	margin-bottom: 10px; 

}
.labelContainer{
	display: inline-block;
	width: 135px;
}
#email,#fname{
	margin-right: 70px;
}
.addressContainer{
	list-style-type: none;
	display: inline-block;
	width: 100%;
}
.addressContainer li{
	width: 30%;
	margin-bottom: 15px;
}
.addressContainer input{
	margin-bottom: 0px;
	float: right;
	clear: both;
}
/*#cancelButton{
  margin-left: 50%;
  padding: 8px;
  width: 111px;
}*/
.apartmentContainer{
	list-style-type: none;
	display: inline-block;
	width: 100%;
}
.apartmentContainer li{
	width: 30%;
	margin-bottom: 15px;
}
.apartmentContainer input{
	margin-bottom: 0px;
	float: right;
	clear: both;
}
.deleteList img{
   height: 34px;
   
}

.additionalDetails {
  background-color: rgb(189, 197, 200);
  padding: 20px;
  font-size: 20px;
}
.additionalDetails li {
    color: blue;
    border-bottom: 1px solid brown;
    padding: 15px;
}
.additionalDetails li:nth-child(odd) {
    color: rgb(83, 81, 174);
}
.additionalDetails li:nth-child(even) {
    color: rgb(71, 42, 42);
}
.additionalDetails button{
  padding: 2px;
  font-size: 18px;
  border-radius: 17%;
  width: 60px;
  cursor: pointer;

 }
 .moreDetails , .deleteList, #addCandidateButton, #Enter{
 	cursor: pointer;
 }